/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

#viewerDiv {
  height: 680px; 
  width: 860px; 
  margin-top: 50px;
  overflow: hidden; 
  position: relative;
}

footer {
    padding-top: 50px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
  padding-left: 10px;
}

h4 {
  color: white;
}


/*.myButton {*/
      /*background-color: white;*/
      /*color: #4CAF50;*/
      /*border: 2px solid #4CAF50;*/
      /*border-radius: 8px;*/
      /*display:inline-block;*/
      /*cursor:pointer;*/
      /*font-family:Verdana;*/
      /*font-size:17px;*/
      /*padding:16px 50px;*/
      /*text-decoration:none;*/
      /*margin-top: 1em;*/
      /*-webkit-transition-duration: 0.4s; */
      /*transition-duration: 0.4s;*/
/*}*/

/*.myButton:hover {*/
      /*background-color: #4CAF50; */
      /*color: white;*/
/*}*/

/*.myButton:active {*/
      /*position:relative;*/
      /*top:1px;*/
/*}*/

