/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

#viewerDiv {
  height: 480px; 
  width: 860px; 
  margin-top: 50px;
  overflow: hidden; 
  position: relative;
}

footer {
    padding-top: 50px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
  padding-left: 10px;
}

h4 {
  color: white;
}

